
### Supervised Learning
### Activity: Building a Student Intervention System

### Question 1 - Classification vs. Regression
*Your goal for this project is to identify students who might need early intervention before they fail or pass. Which type of supervised learning problem is this, classification or regression? Why?*

**Answer: **

#It is a classification problem.Because, the ultimate aim of the project is to identify the class of students who need intervention in their study.

### Question-2
load necessary Python libraries and load the student data. Note that the last column from this dataset, `'passed'`, will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read student data
student_df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\student-data.csv")
student_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

### Question-3
Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
- The total number of students, `n_students`.
- The total number of features for each student, `n_features`.
- The number of those students who passed, `n_passed`.
- The number of those students who failed, `n_failed`.
- The graduation rate of the class, `grad_rate`, in percent (%).

In [3]:
# Calculate number of students
total_students=len(student_df.index)
print('Total number of students: ',total_students)

Total number of students:  395

In [4]:
# Calculate number of features
shape = student_df.shape
print('Number of features :', shape[1])

Number of features : 31

In [5]:
# Calculate passing students
passed = (student_df['passed'] == 'yes').sum()
print('Number of students passed is: ',passed)

Number of students passed is:  265

In [6]:
# Calculate failing students
failed = (student_df['passed'] == 'no').sum()
print('Number of students failed is: ',failed)

Number of students failed is:  130

In [7]:
# Calculate graduation rate
graduation_rate =(((student_df['passed'] == 'yes').sum())*100)/(len(student_df.index))

In [8]:
# Print the results
print('Graduation Rate is:%.2f' %graduation_rate,round)

Graduation Rate is:67.09 <built-in function round>

## Preparing the Data
you will prepare the data for modeling, training and testing.

### Question-4 Identify feature and target columns


separate the student data into feature and target columns to see if any features are non-numeric.

In [9]:
# Extract feature columns

In [10]:
student_df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\student-data.csv")
student_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [11]:
x=student_df.iloc[:,:-1]
x.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4

In [12]:
# Extract target column 'passed'

In [13]:
y=student_df.iloc[:,-1]
y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: passed, dtype: object

In [14]:
student_df=student_df.drop('school',axis=1,inplace=True)

In [15]:
# Separate the data into feature data and target data (X and y, respectively)

### Question-5 Preprocess Feature Columns

As you can see, there are several non-numeric columns that need to be converted! Many of them are simply `yes`/`no`, e.g. `internet`. These can be reasonably converted into `1`/`0` (binary) values.

Other columns, like `Mjob` and `Fjob`, have more than two values, and are known as _categorical variables_. The recommended way to handle such a column is to create as many columns as possible values (e.g. `Fjob_teacher`, `Fjob_other`, `Fjob_services`, etc.), and assign a `1` to one of them and `0` to all others.

These generated columns are sometimes called _dummy variables_, and we will use the [`pandas.get_dummies()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html?highlight=get_dummies#pandas.get_dummies) function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.

In [ ]:
#In hot encoding columns having more than 2 categories

In [16]:
obj_cols = x.select_dtypes(include='object').columns

In [17]:
for each in obj_cols:
    print(x[each].value_counts())

GP    349
MS     46
Name: school, dtype: int64
F    208
M    187
Name: sex, dtype: int64
U    307
R     88
Name: address, dtype: int64
GT3    281
LE3    114
Name: famsize, dtype: int64
T    354
A     41
Name: Pstatus, dtype: int64
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64
mother    273
father     90
other      32
Name: guardian, dtype: int64
no     344
yes     51
Name: schoolsup, dtype: int64
yes    242
no     153
Name: famsup, dtype: int64
no     214
yes    181
Name: paid, dtype: int64
yes    201
no     194
Name: activities, dtype: int64
yes    314
no      81
Name: nursery, dtype: int64
yes    375
no      20
Name: higher, dtype: int64
yes    329
no      66
Name: internet, dtype: int64
no     263
yes    132
Name: romantic, dtype: int64

In [18]:

x = pd.get_dummies(data=x, columns=['Mjob', 'Fjob', 'reason', 'guardian'])
x.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,GP,F,18,U,GT3,A,4,4,2,2,...,0,0,1,1,0,0,0,0,1,0
1,GP,F,17,U,GT3,T,1,1,1,2,...,1,0,0,1,0,0,0,1,0,0
2,GP,F,15,U,LE3,T,1,1,1,2,...,1,0,0,0,0,1,0,0,1,0
3,GP,F,15,U,GT3,T,4,2,1,3,...,0,1,0,0,1,0,0,0,1,0
4,GP,F,16,U,GT3,T,3,3,1,2,...,1,0,0,0,1,0,0,1,0,0

In [62]:
obj_cols = x.select_dtypes(include='object').columns
obj_cols

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'schoolsup', 'famsup',
       'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [65]:
#label encoding of target variable 0 for Fail & 1 for Pass
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for each in obj_cols:
    x[each] = le.fit_transform(x[each])

In [66]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   school             395 non-null    int64
 1   sex                395 non-null    int64
 2   age                395 non-null    int64
 3   address            395 non-null    int64
 4   famsize            395 non-null    int64
 5   Pstatus            395 non-null    int64
 6   Medu               395 non-null    int64
 7   Fedu               395 non-null    int64
 8   traveltime         395 non-null    int64
 9   studytime          395 non-null    int64
 10  failures           395 non-null    int64
 11  schoolsup          395 non-null    int64
 12  famsup             395 non-null    int64
 13  paid               395 non-null    int64
 14  activities         395 non-null    int64
 15  nursery            395 non-null    int64
 16  higher             395 non-null    int64
 17  internet           395 non-null    int64
 18  romantic           395 non-null    int64
 19  famrel             395 non-null    int64
 20  freetime           395 non-null    int64
 21  goout              395 non-null    int64
 22  Dalc               395 non-null    int64
 23  Walc               395 non-null    int64
 24  health             395 non-null    int64
 25  absences           395 non-null    int64
 26  Mjob_at_home       395 non-null    uint8
 27  Mjob_health        395 non-null    uint8
 28  Mjob_other         395 non-null    uint8
 29  Mjob_services      395 non-null    uint8
 30  Mjob_teacher       395 non-null    uint8
 31  Fjob_at_home       395 non-null    uint8
 32  Fjob_health        395 non-null    uint8
 33  Fjob_other         395 non-null    uint8
 34  Fjob_services      395 non-null    uint8
 35  Fjob_teacher       395 non-null    uint8
 36  reason_course      395 non-null    uint8
 37  reason_home        395 non-null    uint8
 38  reason_other       395 non-null    uint8
 39  reason_reputation  395 non-null    uint8
 40  guardian_father    395 non-null    uint8
 41  guardian_mother    395 non-null    uint8
 42  guardian_other     395 non-null    uint8
dtypes: int64(26), uint8(17)
memory usage: 86.9 KB

In [67]:
y = le.fit_transform(y)

### Question - 6 Implementation: Training and Testing Data Split
So far, we have converted all _categorical_ features into numeric values. For the next step, we split the data (both features and corresponding labels) into training and test sets. you will need to implement the following:
- Randomly shuffle and split the data (`X`, `y`) into training and testing subsets.
  - Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).
  - Set a `random_state` for the function(s) you use, if provided.
  - Store the results in `X_train`, `X_test`, `y_train`, and `y_test`.

In [73]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.24, random_state=2)

In [42]:
# Show the results of the split
x_train.shape

(300, 43)

In [43]:
y_train.shape

(300,)

In [44]:
x_test.shape

(95, 43)

In [45]:
y_test.shape

(95,)

### Question - 7  Training and Evaluating Models
In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in `scikit-learn`. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to varying sizes of training data and measure the accuracy score.

1.Scikit Learn - Linear Regression 
2.Random Forest Classifier
3.Decision Tree Algorithm

###  Model Application
*List three supervised learning models that are appropriate for this problem. What are the general applications of each model? What are their strengths and weaknesses? Given what you know about the data, why did you choose these models to be applied?*

#explaination
1.Scikit Learn - Logistic Regression - It is one of the best statistical models that studies the relationship between a dependent variable (Y) with a given set of independent variables (X).
Disadvantages Logistic regression is not able to handle a large number of categorical features/variables. It is vulnerable to overfitting.
2.Random Forest Classifier: It reduces overfitting in decision trees and helps to improve the accuracy. It is flexible to both classification and regression problems. It works well with both categorical and continuous values. It automates missing values present in the data.
Disadvantage:Random forests is slow in generating predictions because it has multiple decision trees.The model is difficult to interpret compared to a decision tree, where you can easily make a decision by following the path in the tree.
3.Decision Tree Algorithm implementation with scikit learn One of the cutest and lovable supervised algorithms is Decision Tree Algorithm. It can be used for both the classification as well as regression purposes also.
Disadvantage:A small change in the data can cause a large change in the structure of the decision tree causing instability.

In [89]:
# Import the three supervised learning models from sklearn
from sklearn.linear_model import LogisticRegression  
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [26]:
# fit model-1  on traning data

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.24)
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score

In [28]:
# predict on the test data

In [76]:

log_reg = LogisticRegression(max_iter=300)
model_1 = log_reg.fit(x_train, y_train)

In [80]:
lr_predictions = model_1.predict(x_test)

In [ ]:
# calculate the accuracy score

In [82]:
print("The accuracy score of Logistic Regression model is: ", round((accuracy_score(lr_predictions, y_test)*100), 2), '%')

The accuracy score of Logistic Regression model is:  70.53 %

In [ ]:
# fit the model-2 on traning data and predict on the test data and measure the accuracy

In [83]:
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

In [84]:
print("Precision Score : ",precision_score(y_test, y_pred,                                           
                                           average='micro')*100)
print("Recall Score : ",recall_score(y_test, y_pred,                                           
                                           average='micro')*100)
print("f1_score : ",f1_score(y_test, y_pred,                             
                                           average='micro')*100)

Precision Score :  68.42105263157895
Recall Score :  68.42105263157895
f1_score :  68.42105263157895

In [ ]:
# fit the model-3 on traning data and predict on the test data and measure the accuracy

In [85]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')
model_3 = svc.fit(x_train, y_train)

In [86]:
svm_predictions = model_3.predict(x_test)

In [87]:

f1_score(y_test,y_pred)

0.7916666666666667

In [88]:
print("The accuracy score of SVM model is: ", round((accuracy_score(svm_predictions, y_test)*100), 2), '%')

The accuracy score of SVM model is:  69.47 %

In [ ]:
#Of the three three models, the logistic regression gives better result.